<!DOCTYPE html>
<html>
<head>
    <title>Lavanya's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const typingText = document.querySelector(".typing-text");
    typingText.textContent = "Full Stack Developer | Data Science | B.Tech Final Year";
  });
</script>

<body>
<header><h1>Pyla Lavanya</h1>
    <nav>
        <a href="/">Home</a> |
<!--        <a href="/about">About</a> |-->
        <a href="/projects">Projects</a> |
        <a href="/skills">Skills</a> |
        <a href="/certifications">Certifications</a> |
        <a href="/internships">Internships</a> |
        <a href="/achievements">Achievements</a> |
        <a href="/resume">Resume</a> |
        <a href="/contact">Contact</a>
    </nav>

    </header>
    <hr>
    {% block content %}{% endblock %}
    <hr>
<!--    <footer>© 2025 Lavanya’s Portfolio</footer>-->

</body>

</html>
