{% extends "base.html" %}
{% block content %}
<h1>Contact Me</h1>

<div class="contact-container">

  <div class="contact-card">
    <h3>📧 Email</h3>
    <p><a href="mailto:2200033139cseh@gmail.com?subject=Regarding%20Your%20Portfolio">2200033139cseh@gmail.com</a></p>
  </div>

  <div class="contact-card">
    <h3>🔗 LinkedIn</h3>
    <p><a href="https://www.linkedin.com/in/pyla-lavanya-14b66b247/" target="_blank">Visit My LinkedIn</a></p>
  </div>

  <div class="contact-card">
    <h3>🐱 GitHub</h3>
    <p><a href="https://github.com/pylalavanya" target="_blank">View My GitHub Profile</a></p>
  </div>

  <div class="contact-card">
    <h3>📱 Phone</h3>
    <p>+91 8555934922</p>
  </div>

  <div class="contact-card">
    <h3>📍 Location</h3>
    <p>Vishakapatnam, India</p>
  </div>

<!--  <div class="contact-card">-->
<!--    <h3>📄 Resume</h3>-->
<!--    <p><a href="{{ url_for('static', filename='resume.pdf') }}" download>Download My Resume (PDF)</a></p>-->
<!--  </div>-->

</div>
{% endblock %}

