{% extends "base.html" %}
{% block content %}
<h1>Technical Skills</h1>

<div class="skill-container">

  <div class="skill-card">
    <h3>🧠 Programming Languages</h3>
    <ul>
      <li>Python</li>
      <li>Java</li>
      <li>C</li>
    </ul>
  </div>

  <div class="skill-card">
    <h3>🌐 Web Development</h3>
    <ul>
      <li>Django</li>
      <li>React.js</li>
      <li>Node.js</li>
      <li>HTML, CSS, JavaScript</li>
    </ul>
  </div>

  <div class="skill-card">
    <h3>🗃️ Databases</h3>
    <ul>
      <li>PostgreSQL</li>
      <li>MySQL</li>
      <li>MongoDB</li>
    </ul>
  </div>

<!--  <div class="skill-card">-->
<!--    <h3>🛠️ Tools & DevOps</h3>-->
<!--    <ul>-->
<!--      <li>Git</li>-->
<!--      <li>Docker</li>-->
<!--      <li>Jenkins</li>-->
<!--    </ul>-->
<!--  </div>-->

  <div class="skill-card">
    <h3>☁️ Cloud Platforms</h3>
    <ul>
<!--      <li>AWS</li>-->
      <li>Azure</li>
    </ul>
  </div>

  <div class="skill-card">
    <h3>📊 Big Data Tools</h3>
    <ul>
      <li>Hadoop</li>
      <li>R</li>
    </ul>
  </div>

</div>
{% endblock %}
